@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

.body{
    background-image: url("../imagens/bg-main-desktop.png");
    width: 1440px;
    background-repeat: no-repeat;
    padding-top: 8%;
    padding-left: 15%;
    font-family: 'Space Grotesk';
    font-size: 10px;
    line-height: 50px;

}

.principal{
    width: 900px;
    height:450px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 30px;
    border-color: aqua;
    border-style: dotted;
    row-gap: 20px;
}

.frente{
    background-image: url("../imagens/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: left;
    border-color: aqua;
    border-style: dotted;
    height: 225px;
    width: 400px;
}

.resultCartao{
    color: hsl(0, 0%, 100%);
    margin-left: 2%;
    margin-top: 35%;

}

.lista{
    list-style: none;
    display: inline;
    font-size: 23px;
}



.resultNome{
    font-size: 10px;
    margin-left: 2%;
    margin-bottom: 10%;
}

.resultVenc{
    margin-right: 10%;
}

.lista2{
    list-style: none;
    display: inline;
    font-size: 10px;

}


.form{
    margin-left: 55%;
    text-align: center;
    font-family: 'Space Grotesk';
    border-color: aqua;
    border-style: dotted;

}

.linha{
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-top: -8px;
}

.nome{
    border-color: hsl(278, 68%, 11%);
    border-radius: 5%;
    width:300px;
    height: 35px;
    font-family: 'Space Grotesk';


}

.numero{
    border-color: hsl(278, 68%, 11%);
    border-radius: 5%;
    width:300px;
    height: 35px;
    font-family: 'Space Grotesk';
}

.mes{
    border-color: hsl(278, 68%, 11%);
    border-radius: 5%;
    width:60px;
    height: 35px;
    font-family: 'Space Grotesk';
}

.ano{
    border-color: hsl(278, 68%, 11%);
    border-radius: 5%;
    width:60px;
    height: 35px;
    font-family: 'Space Grotesk';
}

.cvc{
    border-color: hsl(278, 68%, 11%);
    border-radius: 5%;
    width:140px;
    height: 35px;
    font-family: 'Space Grotesk';
}

.enviar{
    background-color: hsl(278, 68%, 11%);
    border-radius: 5%;
    width: 300px;
    height: 35px;
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk';
}



.cardv{
    text-align: right;
    background-image: url("../imagens/bg-card-back.png");    
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: right;
    border-color: aqua;
    border-style: dotted;
    height: 225px;
    width: 400px;

}

.resultCVC{
    margin-right: 10%;
}






